<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dupake.demo.mapper.DemoMapper">

    <select id="getAdminListByPage" resultType="com.dupake.demo.domain.UmsAdmin">
        select * from ums_admin limit #{pageNum}, #{pageSize}
    </select>
</mapper>